<table>
    <tr>
      <th></th>
      <th style="text-align: center;">Argentina<br/><img src="/assets/Argentina.png" width="25px"/></th>
      <th style="text-align: center;">Brasil<br/><img src="/assets/Brasil.png" width="25px"/></th>
      <th style="text-align: center;">Chile<br/><img src="/assets/Chile.png" width="25px"/></th>
      <th style="text-align: center;">Colombia<br/><img src="/assets/Colombia.png" width="25px"/></th>
      <th style="text-align: center;">México<br/><img src="/assets/Mexico.png" width="25px"/></th>
      <th style="text-align: center;">Panamá<br/><img src="/assets/Panama.png" width="25px"/></th>
      <th style="text-align: center;">Perú<br/><img src="/assets/Peru.png" width="25px"/></th>
    </tr>
    <tr>
      <th>Account ID</th>
      <td style="text-align: center;">512322</td>
      <td style="text-align: center;">512327</td>
      <td style="text-align: center;">512325</td>
      <td style="text-align: center;">512321</td>
      <td style="text-align: center;">512324</td>
      <td style="text-align: center;">512326</td>
      <td style="text-align: center;">512323</td>
    </tr>
    <tr>
      <th>Merchant ID</th>
      <td colspan="7" style="text-align: center;">508029</td>
    </tr>
    <tr>
      <th>API Login</th>
      <td colspan="7" style="text-align: center;">pRRXKOl8ikMmt9u</td>
    </tr>
    <tr>
      <th>API Key</th>
      <td colspan="7" style="text-align: center;">4Vj8eK4rloUd272L48hsrarnUA</td>
    </tr>
    <tr>
      <th>Public Key</th>
      <td colspan="7" style="text-align: center;">PKaC6H4cEDJD919n705L544kSU</td>
    </tr>  
  </table>