<table>
    <thead>
    <tr>
        <th>Merchant ID</th>
        <th>API Login</th>
        <th>API Key</th>
        <th>accountId</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="7">508029</td>
        <td rowspan="7">pRRXKOl8ikMmt9u</td>
        <td rowspan="7">4Vj8eK4rloUd272L48hsrarnUA</td>
        <td>512322</td>
        <td>Argentina</td>
    </tr>
    <tr>
        <td>512327</td>
        <td>Brazil</td>
    </tr>
    <tr>
        <td>512325</td>
        <td>Chile</td>
    </tr>
    <tr>
        <td>512321</td>
        <td>Colombia</td>
    </tr>
    <tr>
        <td>512324</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>512326</td>
        <td>Panama</td>
    </tr>
    <tr>
        <td>512323</td>
        <td>Peru</td>
    </tr>
    </tbody>
</table>
