<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src={{ "/js/jquery-validate.bootstrap-tooltip.min.js" | urlize | relURL }}></script>
<script src={{ "/js/bootstrap.js" | urlize | relURL }}></script>
<script src={{ "/js/signature-generator/validations.js" | urlize | relURL }}></script>
<script src={{ "/js/signature-generator/md5.js" | urlize | relURL }}></script>
<script src={{ "/js/signature-generator/sha1.js" | urlize | relURL }}></script>
<script src={{ "/js/signature-generator/sha256.js" | urlize | relURL }}></script>
<script src={{ "/js/signature-generator/signature-generator.js" | urlize | relURL }}></script>
<script>

    var errApiKeyReq = "Por favor ingresa el ApiKey"
    var errApiKeyMin = "Por favor ingresa más de 5 dígitos"
    var errApiKeyMax = "Por favor ingresa menos de 32 dígitos"
    var errMerchantReq = "Por favor ingresa el Merchant Id"
    var errMerchantMin = "Por favor ingresa más de 5 dígitos"
    var errMerchantMax = "Por favor ingresa menos de 7 dígitos"
    var errMerchantPosi = "Por favor ingresa un número positivo"
    var errMerchantNum = "Por favor ingresa just numbers"
    var errReferenceReq = "Por favor ingresa el Reference Code"
    var errReferenceMin = "Por favor ingresa el Reference Code"
    var errReferenceMax = "Por favor ingresa menos de 255 dígitos"
    var errAmountReq = "Por favor ingresa el monto"
    var errAmountMin = "Por favor ingresa el monto"
    var errAmountMax = "Por favor ingresa menos de 14 dígitos"
    var errAmountPosi = "Por favor ingresa un número positivo"
    var errAmountNum = "Por favor solo ingresa números"
    var errCurrReq = "Por favor ingresa una moneda válida en formato ISO 4217"
    var errCurrMin = "Por favor ingresa más de 3 dígitos"
    var errCurrMax = "Por favor ingresa menos de 3 dígitos"
    var errTsReq = "Por favor ingresa el transaction code"
    var errTsMin = "Por favor ingresa el transaction code"
    var errTsMax = "Por favor ingresa el transaction code con menos de 3 dígitos"
    var errSpReq = "Por favor ingresa el transaction code"
    var errSpMin = "Por favor ingresa el transaction code"
    var errSpMax = "Por favor ingresa el transaction code con menos de 1 dígito"

</script>

<div id="blue-box">
<span class="grey-text-13">
<div>
<form method="POST" id="signature_form_response_page" >
    <table>
    <span class="blue-text-13"><b>Algoritmo: &nbsp;</b></span>
        <select id = "signature_algorithm_response_page" class="calc_selector form_control">
            <option  value="md5">MD5</option>
            <option  value="sha1">SHA1</option>
            <option  value="sha256">SHA256</option>
        </select>
        <br>
        <br>
        <span class="calc_text">&nbsp;(</span>
        <input class="form_control" type="text"  id ="signature_apikey_response_page" name = "signature_apikey_response_page" placeholder="ApiKey" maxlength="26"> ~
        <input class="form_control number" type="text"  id ="signature_merchanId_response_page" name = "signature_merchanId_response_page" placeholder="MerchantId" maxlength="7"> ~
        <input class="form_control" type="text"  id ="signature_referenceCode_response_page" name = "signature_referenceCode_response_page" placeholder="Referencia" maxlength="255"> ~
        <input class="form_control  number" type="text" id ="signature_amount_response_page" name = "signature_amount_response_page" placeholder="Monto" maxlength="14"> ~
        <select id = "signature_currency_response_page" class="calc_selector form_control" >
            <option  value="USD">USD</option>
            <option  value="COP">COP</option>
            <option  value="MXN">MXN</option>
            <option  value="ARS">ARS</option>
            <option  value="PEN">PEN</option>
            <option  value="BRL">BRL</option>
            <option  value="CLP">CLP</option>
        </select> ~
        <select id = "signature_transaction_state_response_page" class="calc_selector form_control" >
            <option  value="4">4 (Aprobada)</option>
            <option  value="6">6 (Rechazada)</option>
            <option  value="104">104 (Error)</option>
            <option  value="5">5 (Expirada)</option>
            <option  value="7">7 (Pendiente)</option>
        </select>
        <span class="calc_text">)</span>
        <br>
        <br>
        <br>
    <span class="blue-text-13"><b>Resultado:&nbsp;</b></span><input class="form_control" id ="signature_generated" name = "signature_generated" value = ""  readonly />
    </table>
    <br>
    <table width="50%"  border="0" cellspacing="2" cellpadding="2">
        <input type="button" name="signature_generate_response_page" id="signature_generate_response_page" value="Generar firma" >
        <input type="button" name="signature_generate_again_response_page" id="signature_generate_again_response_page" value="Generar nueva firma" >
    </table>
</form>
</div>
</span>
</div>