<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='./integrations/webcheckout-integration.html'"> 
      <p><img src="/assets/checkout.png" alt=""></p>
      <h4 class="navblock-title">Checkout integration</h4>
      <p>PayU Checkout is an integration that allows you to collect through a PayU web form from any device in a simple, fast and secure way.
        <ul>
          <li>PayU manages the payment system</li>
          <li>Easier integration, equally secure</li>
          <li>Since PayU manages the payment platform, it is easier to get PCI DSS certification</li>
        </ul>
      </p>
      <div onclick="location.href='./integrations/webcheckout-integration.html'"><a>Learn more about WebCheckout integration</a></div>
    </div>
    <div class="col-sm-4 getting-started" style="cursor:default !important" onclick="location.href='./integrations/api-integration.html'">
      <p><img src="/assets/api.png" alt=""></p>
      <h4 class="navblock-title"><a style="color: #a8c507;" href="./integrations/api-integration.html">API</a> or <a style="color: #a8c507;" href="./integrations/sdk-integration.html">SDK</a> integration</h4>
      <p>Through API or SDK integrations, you can receive payments securely from anywhere you like, on your website or mobile app.
        <ul>
          <li>Design your checkout and manage the payment system of your website.</li>
          <li>Access to additional services such as Tokenization or Recurring payments</li>
        </ul>
      </p>
      <div style="cursor:pointer !important">
        <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'" style="cursor:pointer !important"><a>Learn more about API integration</a></div>
        <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'" style="cursor:pointer !important"><a>Learn more about SDK integration</a></div>
      </div>
    </div>
  </div>
</div>
