<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='../integrations/webcheckout-integration.html'"> 
      <p><img src="/assets/checkout.png" alt=""></p>
      <h4 class="navblock-title">Integração WebCheckout</h4>
      <p>PayU Checkout é uma integração que permite a você coletar pagamentos usando um formulário web PayU de qualquer dispositivo, de forma simples, rápida e segura.
        <ul>
          <li>PayU gerencia o sistema de pagamento</li>
          <li>Integração mais fácil e igualmente segura</li>
          <li>Como PayU gerencia a plataforma de pagamento, é mais fácil obter a certificação PCI DSS</li>
        </ul>
      </p>
      <div onclick="location.href='../integrations/webcheckout-integration.html'"><a>Saiba mais sobre Integração WebCheckout</a></div>
    </div>
    <div class="col-sm-4 getting-started" style="cursor:default !important">
      <p><img src="/assets/api.png" alt=""></p>
      <h4 class="navblock-title">Integração <a style="color: #a8c507;" href="../integrations/api-integration.html">API</a> ou <a style="color: #a8c507;" href="../integrations/sdk-integration.html">SDK</a></h4>
      <p>Por meio de integrações API ou SDK, você pode receber pagamentos com segurança, de qualquer lugar que desejar, em seu site ou aplicativo móvel.
        <ul>
          <li>Crie seu checkout e gerencie o sistema de pagamento do seu site.</li>
          <li>Acesso a serviços adicionais, como tokenização.</li>
        </ul>
      </p>
      <div style="cursor:pointer !important">
        <div style="float: left;width: 50%;" onclick="location.href='../integrations/api-integration.html'" style="cursor:pointer !important"><a>Saiba mais sobre Integração API</a></div>
        <div style="float: left;width: 50%;" onclick="location.href='../integrations/sdk-integration.html'" style="cursor:pointer !important"><a>Saiba mais sobre Integração SDK</a></div>
      </div>
    </div>
  </div>
</div>
