<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='../integrations/webcheckout-integration.html'"> 
      <p><img src="/assets/checkout.png" alt=""></p>
      <h4 class="navblock-title">Integración WebCheckout</h4>
      <p>El WebCheckout de PayU Checkout es una integración que te permite cobrar a través del formulario web de PayU desde cualquier dispositivo de forma fácil, rápida y segura.
        <ul>
          <li>PayU administra el sistema de pagos</li>
          <li>Integración más fácil e igual de segura</li>
          <li>Como PayU maneja la plataforma de pagos, es más fácil obtener la certificación PCI DSS</li>
        </ul>
      </p>
      <div onclick="location.href='../integrations/webcheckout-integration.html'"><a>Aprende más sobre la integración WebCheckout</a></div>
    </div>
    <div class="col-sm-4 getting-started" style="cursor:default !important">
      <p><img src="/assets/api.png" alt=""></p>
      <h4 class="navblock-title">Integración <a style="color: #a8c507;" href="../integrations/api-integration.html">API</a> o <a style="color: #a8c507;" href="../integrations/sdk-integration.html">SDK</a></h4>
      <p>A través de las integraciones API o SDK, puedes recibir pagos de forma segura desde cualquier lugar que desees, en tu propia página web o en tu aplicación móvil.
        <ul>
          <li>Diseña tu propio checkout y administra el sistema de pagos de tu sitio web.</li>
          <li>Disfruta de servicios adicionales seguros como el servicio de Tokenización de tarjetas de crédito.</li>
        </ul>
      </p>
      <div style="cursor:pointer !important;">
        <div style="float: left;width: 50%;" onclick="location.href='../integrations/api-integration.html'" style="cursor:pointer !important"><a>Aprende más sobre la integración API</a></div>
        <div style="float: left;width: 50%;" onclick="location.href='../integrations/sdk-integration.html'" style="cursor:pointer !important"><a>Aprende más sobre la integración SDK</a></div>
      </div>
    </div>
  </div>
</div>
