<div class="container overview-topic">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/en/docs/tools/payment-request.html'" style="position:relative;"> 
      <p><img src="/assets/money-digital-device.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Payment request</h4>
      <p style="padding-bottom: 60pt;">Generate Payment requests which can be shared via email, chats, social networks, or included as a button for your webpage (if you own one).</p>
      <div style="position:absolute;bottom: 4%;right: 5%;left: 5%;">
        <p><img src="/assets/World.png" width="30px"/></p>
        <a>Learn more about Payment request</a>
      </div>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/en/docs/tools/payment-coupons.html'"> 
      <p><img src="/assets/payments.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Payment coupons</h4>
      <p style="padding-bottom: 60pt;">Generate payment coupons and collection cards with the necessary information to let your clients make cash payments as many times as they need in the available payment points.</p>
      <div style="position:absolute;bottom: 4%;right: 5%;;left: 5%;">
        <p><img src="/assets/Argentina.png" width="30px"/><img src="/assets/Colombia.png" width="30px"/></p>
        <a>Learn more about Payment coupons</a>
      </div>
    </div>
  </div>
</div>
