<div class="container overview-topic">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/en/docs/tools/payment-request.html'" style="position:relative;"> 
      <p><img src="/assets/money-digital-device.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Solicitação de pagamento</h4>
      <p style="padding-bottom: 60pt;">Gere solicitações de pagamento que podem ser compartilhadas por e-mail, chats, redes sociais ou incluídas como um botão em seu site (se você tiver um).</p>
      <div style="position:absolute;bottom: 4%;right: 5%;left: 5%;">
        <p><img src="/assets/World.png" width="30px"/></p>
        <a>Saiba mais sobre solicitação de pagamento</a>
      </div>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/en/docs/tools/payment-coupons.html'"> 
      <p><img src="/assets/payments.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Cupons de pagamento</h4>
      <p style="padding-bottom: 60pt;">Gere cupons de pagamento e cartões de cobrança com as informações necessárias para que seus clientes façam pagamentos em dinheiro quantas vezes forem necessárias nos pontos de pagamento disponíveis.</p>
      <div style="position:absolute;bottom: 4%;right: 5%;;left: 5%;">
        <p><img src="/assets/Argentina.png" width="30px"/><img src="/assets/Colombia.png" width="30px"/></p>
        <a>Saiba mais sobre cupons de pagamento</a>
      </div>
    </div>
  </div>
</div>
