<div class="container overview-topic">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/es/docs/tools/payment-request.html'" style="position:relative;"> 
      <p><img src="/assets/money-digital-device.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Solicitud de pago</h4>
      <p style="padding-bottom: 60pt;">Genera solicitudes de pago que se pueden compartir a través de correo electrónico, chats, redes sociales o incluirla como un botón para tu página web (si tienes una).</p>
      <div style="position:absolute;bottom: 4%;right: 5%;left: 5%;">
        <p><img src="/assets/World.png" width="30px"/></p>
        <a>Aprende más sobre Solicitud de pago</a>
      </div>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='{{ .Page.Site.BaseURL }}/es/docs/tools/payment-coupons.html'"> 
      <p><img src="/assets/payments.svg" alt="SellIcons"></p>
      <h4 class="navblock-title">Cupones de pago</h4>
      <p style="padding-bottom: 60pt;">Genera cupones de pago y tarjetas de cobro con la información necesaria para que tus clientes puedan realizar pagos en efectivo las veces que lo necesiten en los puntos de pago disponibles.</p>
      <div style="position:absolute;bottom: 4%;right: 5%;;left: 5%;">
        <p><img src="/assets/Argentina.png" width="30px"/><img src="/assets/Colombia.png" width="30px"/></p>
        <a>Aprende más sobre Cupones de pago</a>
      </div>
    </div>
  </div>
</div>
