<table style="table-layout: fixed;">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th colspan="2" style="vertical-align: middle; text-align: center;">Tiempo para enviar el reembolso</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Monto mínimo</th>
        <th colspan="2" style="vertical-align: middle; text-align: center;">¿Cuánto tiempo tardará el cliente en recuperar el dinero?</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">¿Acepta reembolsos parciales?</th>
      </tr>
      <tr>
        <th style="text-align: center;">Mín.</th>
        <th style="text-align: center;">Max.</th>
        <th style="text-align: center;">Mín.</th>
        <th style="text-align: center;">Max.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Argentina.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutos</td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>357 días</li><li>180 días (Reembolsos parciales)</li></ul></td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 día hábil</td>
        <td style="vertical-align: middle; text-align: center;">30 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Brasil.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>10 minutos</li><li>1 día (Reembolsos parciales)</li></ul></td>
        <td style="vertical-align: middle; text-align: center;"><li>82 o 172 días para tarjetas*</li><li>87 días para Pix</li></td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 día hábil</td>
        <td style="vertical-align: middle; text-align: center;">15 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Chile.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutos</td>
        <td style="vertical-align: middle; text-align: center;">90 o 327 días*</td>
        <td style="vertical-align: middle; text-align: center;">10 CLP</td>
        <td style="vertical-align: middle; text-align: center;">8 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">20 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Colombia.png" width="25px"/></td>
        <td style="text-align: center;">10 minutos</td>
        <td style="text-align: center;">357 días</td>
        <td style="text-align: center;">100 COP</td>
        <td style="text-align: center;">1 día hábil</td>
        <td style="text-align: center;">30 días hábiles</td>
        <td style="text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Mexico.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutos</td>
        <td style="vertical-align: middle; text-align: center;">40 o 175 días*</td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 día hábil</td>
        <td style="vertical-align: middle; text-align: center;">30 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Panama.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutos</td>
        <td style="vertical-align: middle; text-align: center;">357 días</td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 día hábil</td>
        <td style="vertical-align: middle; text-align: center;">8 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">X</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Peru.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutos</td>
        <td style="vertical-align: middle; text-align: center;">357 días</td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>1 USD</li><li>1 PEN</li></ul></td>
        <td style="vertical-align: middle; text-align: center;">15 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">25 días hábiles</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
    </tbody>
    </table>