<table style="table-layout: fixed;">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th colspan="2" style="vertical-align: middle; text-align: center;">Time to send the refund</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Min amount.</th>
        <th colspan="2" style="vertical-align: middle; text-align: center;">How long will take to the customer to get the money back?</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Accepts partial refunds?</th>
      </tr>
      <tr>
        <th style="text-align: center;">Min.</th>
        <th style="text-align: center;">Max.</th>
        <th style="text-align: center;">Min.</th>
        <th style="text-align: center;">Max.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Argentina.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutes</td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>365 days</li><li>180 days (Partial refunds)</li></ul></td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 working day</td>
        <td style="vertical-align: middle; text-align: center;">30 working days</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Brasil.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>10 minutes</li><li>1 day (Partial refunds)</li></ul></td>
        <td style="vertical-align: middle; text-align: center;">90 or 120 days<sup>*</sup></td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 working day</td>
        <td style="vertical-align: middle; text-align: center;">15 working days</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Chile.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutes</td>
        <td style="vertical-align: middle; text-align: center;">90 days</td>
        <td style="vertical-align: middle; text-align: center;">10 CLP</td>
        <td style="vertical-align: middle; text-align: center;">8 working days</td>
        <td style="vertical-align: middle; text-align: center;">20 working days</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Colombia.png" width="25px"/></td>
        <td style="text-align: center;">10 minutes</td>
        <td style="text-align: center;">2 years</td>
        <td style="text-align: center;">300 COP</td>
        <td style="text-align: center;">1 working day</td>
        <td style="text-align: center;">30 working days</td>
        <td style="text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Mexico.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutes</td>
        <td style="vertical-align: middle; text-align: center;">45 or 180 days<sup>*</sup></td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 working day</td>
        <td style="vertical-align: middle; text-align: center;">30 working days</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Panama.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutes</td>
        <td style="vertical-align: middle; text-align: center;">180 days</td>
        <td style="vertical-align: middle; text-align: center;">-</td>
        <td style="vertical-align: middle; text-align: center;">1 working day</td>
        <td style="vertical-align: middle; text-align: center;">8 working days</td>
        <td style="vertical-align: middle; text-align: center;">X</td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;"><img src="/assets/Peru.png" width="25px"/></td>
        <td style="vertical-align: middle; text-align: center;">10 minutes</td>
        <td style="vertical-align: middle; text-align: center;">180 days</td>
        <td style="vertical-align: middle; text-align: center;"><ul style="margin-bottom: initial;"><li>1 USD</li><li>1 PEN</li></ul></td>
        <td style="vertical-align: middle; text-align: center;">15 working days</td>
        <td style="vertical-align: middle; text-align: center;">25 working days</td>
        <td style="vertical-align: middle; text-align: center;">✓</td>
      </tr>
    </tbody>
    </table>