<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/payments.html'">
      <h4 class="navblock-title">Pagamentos</h4>
      <p>Permite que sua loja processe diferentes tipos de transações com vários métodos de pagamento.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/3ds-authentication.html'">
      <h4 class="navblock-title">Autenticação 3DS</h4>
      <p>Permite realizar um processo de autenticação intuitivo e amigável para o cliente para reduzir a fraude, impedindo a utilização não autorizada de cartões de crédito.<br><i>Válido somente no Brasil e na Colômbia.</i></p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/queries.html'">
      <h4 class="navblock-title">Consultas</h4>
      <p>Permite verificar o status das transações geradas a partir de pedidos feitos.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/tokenization.html'">
      <h4 class="navblock-title">Tokenização</h4>
      <p>Permite armazenar com segurança os dados dos cartões de crédito de seus clientes por meio da criação de um token.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/promotions.html'">
      <h4 class="navblock-title">Promoções e MSI</h4>
      <p>Permite consultar as promoções válidas, as características e custos associados a elas, bem como outras informações relevantes disponíveis para seus clientes.<br><i>Válido somente na Argentina e no México.</i></p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/refunds.html'">
      <h4 class="navblock-title">Cancelamentos e Reembolsos</h4>
      <p>Permite solicitar o cancelamento e o reembolso das transações pagas com cartão de crédito.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/payouts.html'">
      <h4 class="navblock-title">Payouts</h4>
      <p>Permite criar vários pagamentos para terceiros usando os fundos de sua conta PayU.</p>
    </div>
    <div class="col-sm-4 getting-started" style="cursor:default;box-shadow:initial">
      <h4 class="navblock-title"></h4>
      <p></p>
    </div>
  </div>
</div>
