<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/payments.html'">
      <h4 class="navblock-title">Pagos</h4>
      <p>Permite a tu tienda procesar diferentes tipos de transacción con multiples medios de pago.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/queries.html'">
      <h4 class="navblock-title">Consultar</h4>
      <p>Te permite verificar el estado de las transacciones generadas por las órdenes realizadas.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/tokenization.html'">
      <h4 class="navblock-title">Tokenización</h4>
      <p>Te permite guardar de forma segura la información de las tarjetas de crédito de tus clientes a través de la creación de un token.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/promotions.html'">
      <h4 class="navblock-title">Promociones y MSI</h4>
      <p>Te permite las promociones vigentes junto con su costo asociado, características e información adicional disponible para tu cliente.<br>Aplica solo para Argentina y México.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/refunds.html'">
      <h4 class="navblock-title">Anulaciones y Reembolsos</h4>
      <p>Te permite solicitar la cancelación y reembolso de las transacciones pagadas con tarjeta de crédito.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/services/payouts.html'">
      <h4 class="navblock-title">Payouts</h4>
      <p>Te permite crear múltiples pagos a terceros utilizando los fondos de tu cuenta de PayU.</p>
    </div>
    <!--<div class="col-sm-4 getting-started" style="cursor:default;box-shadow:initial">
      <h4 class="navblock-title"></h4>
      <p></p>
    </div>-->
  </div>
</div>
