<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/payment-request.png" alt="Payment requests">
      <h4 class="navblock-title">Payment request</h4>
      <p>Receive payments even if you don't have a web page.</p>
    </div>
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/payment-button.png" alt="Payment button">
      <h4 class="navblock-title">Payment button</h4>
      <p>Create an HTML button and insert it easily in your web page.</p>
    </div>
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/shopping-carts.png" alt="Shopping cart plugins">
      <h4 class="navblock-title">Shopping cart plugins</h4>
      <p>Integrate your shopping cart solution with any of our available plugins.</p>
    </div>
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/administrative-module.png" alt="PayU Module">
      <h4 class="navblock-title">PayU module</h4>
      <p>Manage your PayU account, generate sales reports, query your account balance or transfer money to your bank account.</p>
    </div>
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/tokenization.png" alt="Tokenization">
      <h4 class="navblock-title">Disputes</h4>
      <p>Store safely the credit card’s information of your clients.</p>
    </div>
    <div class="col-sm-4 getting-started">
      <img src="http://developers.payulatam.com/images/payment-coupon.png" alt="Payment coupons">
      <h4 class="navblock-title">Payment coupons</h4>
      <p>Send payment coupons to your customers, they can pay in the cash branches available.</p>
    </div>
  </div>
</div>
