<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payment-request.html'">
      <img src="/assets/payment-request.png" alt="Payment requests" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">Payment request</h4>
      <p>Receive payments even if you don't have a web page.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payment-button.html'">
      <img src="/assets/payment-button.png" alt="Payment button" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">Payment button</h4>
      <p>Create an HTML button and insert it easily in your web page.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/shopping-cart-plugins.html'">
      <img src="/assets/shopping-carts.png" alt="Shopping cart plugins" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">Shopping cart plugins</h4>
      <p>Integrate your shopping cart solution with any of our available plugins.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payu-module.html'">
      <img src="/assets/administrative-module.png" alt="PayU Module" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">PayU module</h4>
      <p>Manage your PayU account, generate sales reports, query your account balance or transfer money to your bank account.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/disputes.html'">
      <img src="/assets/tokenization.png" alt="Tokenization" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">Disputes</h4>
      <p>Manage the dispute processes generated in your PayU account.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payment-coupons.html'">
      <img src="/assets/payment-coupon.png" alt="Payment coupons" style="border:1px solid #CCCCCC;border-radius: 10px;">
      <h4 class="navblock-title" style="margin-top:15px;">Payment coupons</h4>
      <p>Send payment coupons to your customers, they can pay in the cash branches available.</p>
    </div>
  </div>
</div>
