<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payment-request.html'">
      <img src="/assets/SVG/money-flowing.svg" alt="Payment requests" width="118" height="118">
      <h4 class="navblock-title" style="margin-top:15px;">Payment request</h4>
      <p>Receive payments even if you don't have a web page.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/shopping-cart-plugins.html'">
      <img src="/assets/SVG/shopping.svg" alt="Shopping cart plugins" width="118" height="118">
      <h4 class="navblock-title" style="margin-top:15px;">Shopping cart plugins</h4>
      <p>Integrate your shopping cart solution with any of our available plugins.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payu-module.html'">
      <img src="/assets/PayULogo.png" alt="PayU Module">
      <h4 class="navblock-title" style="margin-top:15px;">PayU module</h4>
      <p>Manage your PayU account, generate sales reports, query your account balance or transfer money to your bank account.</p>
    </div>
    <!--<div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/reports.html'">
      <img src="/assets/SVG/growing-line-graph.svg" alt="Reports" width="118" height="118">
      <h4 class="navblock-title" style="margin-top:15px;">Reports</h4>
      <p>See the overview of your account including, your sales, your financial statement, and your custom reports.</p>
    </div>-->
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/disputes.html'">
      <img src="/assets/SVG/bank.svg" alt="Disputes" width="118" height="118">
      <h4 class="navblock-title" style="margin-top:15px;">Disputes</h4>
      <p>Manage the dispute processes generated in your PayU account.</p>
    </div>
    <div class="col-sm-4 getting-started" onclick="location.href='./docs/tools/payment-coupons.html'">
      <img src="/assets/SVG/hand-with-icon.svg" alt="Payment coupons" width="118" height="118">
      <h4 class="navblock-title" style="margin-top:15px;">Payment coupons</h4>
      <p>Send payment coupons to your customers, they can pay in the cash branches available.</p>
    </div>
    <div class="col-sm-4 getting-started" style="cursor:default;box-shadow:initial">
      <h4 class="navblock-title"></h4>
      <p></p>
    </div>
  </div>
</div>
