// $td-enable-google-fonts: false;
// $google_font_name: "Lato";
// $google_font_family: "font-family: 'Lato', sans-serif;";

$dark: #F5F5F5   !default;

$primary: $dark !default;
$font-size-base: 0.9rem !default;
$lead-font-size: 0.9rem !default;
$lead-font-weight: 400 !default;

$navbar-dark-color: rgba(#A6C307, 0.75) !default;
$navbar-dark-hover-color: rgba(#A6C307, 0.5) !default;
$navbar-dark-active-color: #A6C307 !default;
$navbar-dark-disabled-color: rgba(#A6C307, 0.25) !default;

$info: rgba(#A6C307, 0.75) !default;

