<table>
    <thead>
       <tr>
          <th>Carrinho de compras</th>
          <th>Guia do parceiro</th>
          <th>Suporte</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/Magento.svg"><i>Versão 2</i></td>
          <td style="vertical-align: middle;text-align: center"><a href="https://docs.eloom.tech/pt/payment/payu-latam" target="_blank" class="payu-btn-green">Veja o guia</a></td>
          <td style="vertical-align: middle;"><a href="mailto:suporte@eloom.com.br" target="_blank">suporte@eloom.com.br</a></td>
       </tr>
 </table>