<table>
    <thead>
       <tr>
          <th width="20%">Carrinho de compras</th>
          <th>Plug-in</th>
          <th>Observações</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/Magento.svg"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/Plugin_PayU_Magento-1.3.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;">Disponível para versões de 1.7.x a 1.9.x.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/drupal.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/commerce_payulatam_1.0.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;">Você precisa de <a href="https://www.drupal.org/project/commerce_kickstart" target="_blank">Drupal Commerce Kickstart 7.xx</a></td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/vm-logo-220.png"></td>
          <td style="vertical-align: middle;">VirtueMart v2+<br><a href="http://developers.payulatam.com/plugins/plugin-joomla-virtuemart2.6.7.zip" target="_blank" class="payu-btn-green">Baixar</a><hr>VirtueMart v3.0.6<br><a href="http://developers.payulatam.com/plugins/plugin-joomla-virtuemart3.0.6.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;">Você precisa do Joomla 2.5 com MySQL 5.1 ou superior.<hr style="margin-top:2.5rem;margin-bottom: 2.5rem;">Você precisa das versões do Joomla 3.3.6, 2.5.28 ou 2.5.27.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/woocommerce.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/woocommerce-payu-latam-2.1.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;">Você precisa:<br><ul style="margin-bottom: initial;"><li>WordPress 3.8 ou superior.</li><li>WooCommerce versão 2.0 ou superior instalado no site WordPress.</ul></li></td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/oscommerce.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/plugin-oscommerce.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;">Disponível para a versão 2.3.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/opencart.png"></td>
          <td style="vertical-align: middle;">Versão 1.5.5.1 ou 1.5.6.4<br><a href="http://developers.payulatam.com/plugins/plugin-opencart.zip" target="_blank" class="payu-btn-green">Baixar</a><hr>Versão 2.0.x.x a 2.1.x.x<br><a href="http://developers.payulatam.com/plugins/plugin-opencart-2.0.zip" target="_blank" class="payu-btn-green">Baixar</a></td>
          <td style="vertical-align: middle;"></td>
       </tr>
    </tbody>
 </table>