<table>
    <thead>
       <tr>
          <th width="20%">Shopping cart</th>
          <th>Plugin</th>
          <th>Considerations</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/Magento.svg"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/Plugin_PayU_Magento-1.3.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;">Available for versions from 1.7.x to 1.9.x.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/drupal.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/commerce_payulatam_1.0.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;">You need <a href="https://www.drupal.org/project/commerce_kickstart" target="_blank">Drupal Commerce Kickstart 7.xx</a></td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/vm-logo-220.png"></td>
          <td style="vertical-align: middle;">VirtueMart v2+<br><a href="http://developers.payulatam.com/plugins/plugin-joomla-virtuemart2.6.7.zip" target="_blank" class="payu-btn-green">Download</a><hr>VirtueMart v3.0.6<br><a href="http://developers.payulatam.com/plugins/plugin-joomla-virtuemart3.0.6.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;">You need Joomla 2.5 with MySQL 5.1 or higher.<hr style="margin-top:2.5rem;margin-bottom: 2.5rem;">You need Joomla versions 3.3.6, 2.5.28, or 2.5.27.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/woocommerce.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/woocommerce-payu-latam-2.1.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;">You need:<br><ul style="margin-bottom: initial;"><li>WordPress 3.8 or higher.</li><li>WooCommerce version 2.0 or higher installed on the WordPress site.</ul></li></td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/oscommerce.png"></td>
          <td style="vertical-align: middle;"><a href="http://developers.payulatam.com/plugins/plugin-oscommerce.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;">Available for version 2.3.</td>
       </tr>
       <tr>
          <td width="20%" style="vertical-align: middle;"><img src="../../assets/ShoppingCartLogos/opencart.png"></td>
          <td style="vertical-align: middle;">Version 1.5.5.1 or 1.5.6.4<br><a href="http://developers.payulatam.com/plugins/plugin-opencart.zip" target="_blank" class="payu-btn-green">Download</a><hr>Version 2.0.x.x to 2.1.x.x<br><a href="http://developers.payulatam.com/plugins/plugin-opencart-2.0.zip" target="_blank" class="payu-btn-green">Download</a></td>
          <td style="vertical-align: middle;"></td>
       </tr>
    </tbody>
 </table>