<table>
    <thead>
       <tr>
          <th>Shopping cart</th>
          <th>Partner's Guide</th>
          <th>Support</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td style="vertical-align: middle;"><img src="/assets/ShoppingCartLogos/Magento.svg"><i>Version 2</i></td>
          <td style="vertical-align: middle;text-align: center"><a href="https://docs.eloom.tech/es/payment/payu-latam" target="_blank" class="payu-btn-green">View guide</a></td>
          <td style="vertical-align: middle;"><a href="mailto:suporte@eloom.com.br" target="_blank">suporte@eloom.com.br</a></td>
       </tr>
 </table>