<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/magento.html'">
      <img src="/assets/ShoppingCartLogos/Magento.svg" alt="ShoppingCartLogos" >
      <p style="margin-bottom: initial;"><sup><i>*</i></sup></p>
    </div>
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/drupal.html'">
      <img src="/assets/ShoppingCartLogos/drupal.png" alt="ShoppingCartLogos" >
    </div>
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/virtuemart.html'">
      <img src="/assets/ShoppingCartLogos/vm-logo-220.png" alt="ShoppingCartLogos">
    </div>
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/woocommerce.html'">
      <img src="/assets/ShoppingCartLogos/woocommerce.png" alt="ShoppingCartLogos" >
    </div>
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/oscommerce.html'">
      <img src="/assets/ShoppingCartLogos/oscommerce.png" alt="ShoppingCartLogos" >
    </div>
    <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/opencart.html'">
      <img src="/assets/ShoppingCartLogos/opencart.png" alt="ShoppingCartLogos">
    </div>
    <!--<div class="col-sm-4 shopping-carts" style="cursor:default;box-shadow:initial">
      <h4 class="navblock-title"></h4>
      <p></p>
    </div>-->
  </div>
</div>


<!--<div class="container overview-topic" align="center">
    <div class="row">
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/Magento.svg" alt="" style="padding: 5% 0;"></p>
        <p>Available for Magento versions from 1.7.x to 1.9.x.</p>
        <div style="">
            <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin</a></div>
            <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
          </div>
      </div>
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/drupal.png" alt="" ></p>
        <p><br></p>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
      </div>
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/vm-logo-220.png" alt=""></p>
        <p style="text-align: justify;">
          <ul>
            <li style="text-align: justify;">Joomla 2.5 with MySQL 5.1 or higher.</li>
            <li style="text-align: justify;">Virtuemart, version 2.0.22e to version 2.0.26d</li>
          </ul>
        </p>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
      </div>
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/oscommerce.png" alt="" style="padding: 7.5% 0;"></p>
        <p>Available for osCommerce version 2.3.<br></p>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
      </div>
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/woocommerce.png" alt=""></p>
        <p style="text-align: justify;">
          <ul>
            <li style="text-align: justify;">WordPress 3.8 or higher.</li>
            <li style="text-align: justify;">WooCommerce version 2.0 or higher installed on the WordPress site</li>
          </ul>
        </p>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
      </div>
      <div class="col-sm-4 shopping-carts" style="max-width: 49%;">
        <p><img src="/assets/ShoppingCartLogos/opencart.png" alt=""></p>
        <p><br><br><br></p>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin v1.5.5.1 or v1.5.6.4</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
        <br>
        <div style="">
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/api-integration.html'"><a>Download plugin v2.0.x.x to v2.1.x.x</a></div>
          <div style="float: left;width: 50%;" onclick="location.href='./integrations/sdk-integration.html'"><a>Documentation</a></div>
        </div>
      </div>
    </div>
  </div>
-->