<div class="container overview-topic" align="center">
    <div class="row">
      <div class="col-sm-4 getting-started" onclick="location.href='https://www.tiendanube.com/blog/como-cobrar-online-con-dinero-mail-by-payu/'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/tiendanube.png" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 getting-started" onclick="location.href='https://help.vtex.com/tutorial/setting-up-payu-gateway--36zWOAFHmwIAoWIEU2Y08q'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/vtex.svg" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 getting-started" onclick="location.href='https://addons.prestashop.com/en/payment-card-wallet/6631-payu-latam.html'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/prestashop.svg" alt="ShoppingCartLogos" style="background-color: #353535;border: 3px solid #353535;">
      </div>
      <div class="col-sm-4 getting-started" onclick="location.href='./shopping-cart-plugins/shopify.html'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/shopify.svg" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 getting-started" onclick="location.href='https://jumpseller.com/support/payu/'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/jumpseller.png" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 getting-started" onclick="location.href='https://ayuda.alegra.com/es/recibe-los-pagos-de-tus-facturas-de-venta-desde-alegra-colombia-con-payu'" style="max-width: 29%;">
        <img src="/assets/ShoppingCartLogos/alegra.webp" alt="ShoppingCartLogos" style="background-color: #00b19d;;border: 3px solid #00b19d;;">
        
      </div>
      <!--<div class="col-sm-4 getting-started" style="cursor:default;box-shadow:initial">
        <h4 class="navblock-title"></h4>
        <p></p>
      </div>-->
    </div>
  </div>
  