<div class="container overview-topic" align="center">
    <div class="row">
      <div class="col-sm-4 shopping-carts" onclick="location.href='https://www.tiendanube.com/blog/como-cobrar-online-con-dinero-mail-by-payu/'">
        <img src="/assets/ShoppingCartLogos/tiendanube.png" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/vtex.html'">
        <img src="/assets/ShoppingCartLogos/vtex.svg" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='https://support.wix.com/en/article/connecting-payu-as-a-payment-provider'">
        <img src="/assets/ShoppingCartLogos/wix.png" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/shopify.html'">
        <img src="/assets/ShoppingCartLogos/shopify.svg" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='https://jumpseller.com/support/payu/'">
        <img src="/assets/ShoppingCartLogos/jumpseller.png" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='https://ayuda.alegra.com/es/recibe-los-pagos-de-tus-facturas-de-venta-desde-alegra-colombia-con-payu'">
        <img src="/assets/ShoppingCartLogos/alegra.webp" alt="ShoppingCartLogos" style="background-color: #00b19d;;border: 3px solid #00b19d;;">
      </div>
      <div class="col-sm-4 shopping-carts" onclick="location.href='./shopping-cart-plugins/bigcommerce.html'">
        <img src="/assets/ShoppingCartLogos/BigCommerceLogo.webp" alt="ShoppingCartLogos" >
      </div>
      <div class="col-sm-4 shopping-carts" style="cursor:default;box-shadow:initial">
        <h4 class="navblock-title"></h4>
        <p></p>
      </div>
    </div>
  </div>
  