<div class="infographicDiv" align="center">
    <div class="DivGray" >
        <p align="center">John buys a cellphone through an e-commerce shop in his personal computer.</p>
        <div class="img1">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite" >
        <p align="center">The <b>cellphone shop, which is integrated to the PayU authentication service</b>, wants to verify that John is the one making the purchase, so they send this transaction to authenticate.</p>
        <div class="img2">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
        </div>
    </div>
    <div class="DivGray longDiv" >
        <p align="center">Through 3DS communication, the issuer receives the request to authenticate the transaction and begins to review the shared data.</p>
        <div class="img3">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite Div4" >
        <p align="center">The issuer authenticates the buyer that is making the transaction successfully. Since the risk was low, the authentication was silent without contacting John.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">When the transaction involves higher risk, John may receive a simple challenge, such as an OTP sent to his cellphone.</p>
        <div class="img4">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
        </div>
    </div>
    <div class="DivGray lastDiv" >
        <p align="center">John receives the confirmation of his purchase and later on, he receives the cellphone at home.</p>
        <div class="img5">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>