<div class="infographicDiv" align="center">
    <div class="DivGray" >
        <p align="center">Jorge realiza una compra de un celular para ser entregado en su casa desde su computador.</p>
        <div class="img1">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite" >
        <p align="center">El <b>comercio de celulares, que está integrado al servicio de autenticación de PayU</b>, desea verificar que Jorge sea el que esté realizando la compra, así que envía esta transacción a autenticar.</p>
        <div class="img2">
            <p align="center"><img src="/assets/3DS/3DS_step_2_es.png"/></p>
        </div>
    </div>
    <div class="DivGray longDiv" >
        <p align="center">A través de la comunicación de los tres dominios, el emisor recibe la solicitud para autenticar la transacción y comienza a revisar los datos compartidos.</p>
        <div class="img3">
            <p align="center"><img src="/assets/3DS/3DS_step_3_es.png"/></p>
        </div>
    </div>
    <div class="DivWhite Div4" >
        <p align="center">El emisor autentica con éxito al comprador que realiza la transacción. Dado que el riesgo era bajo la autenticación ocurrió de manera silenciosa sin contactar a Jorge.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">Cuando la transacción implica un riesgo mayor para el emisor, Jorge podría recibir un simple desafío, como una OTP enviada a su teléfono.</p>
        <div class="img4">
            <p align="center"><img src="/assets/3DS/3DS_step_4_es.png"/></p>
        </div>
    </div>
    <div class="DivGray lastDiv" >
        <p align="center">Jorge recibe la confirmación de su compra y finalmente recibe su celular en su hogar</p>
        <div class="img5">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>