<div style="display: inline-flex;">
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">Jorge realiza una compra de un celular para ser entregado en su casa desde su computador.</p>
        <div style="position:absolute;bottom:-11.5%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:#FFF;padding: 20px;position:relative;" >
        <p align="center">El <b>comercio de celulares, que está integrado al servicio de autenticación de PayU</b>, desea verificar que Jorge sea el que esté realizando la compra, así que envía esta transacción a autenticar.</p>
        <div style="position:absolute;bottom:-12%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">A través de la comunicación de los tres dominios, el emisor recibe la solicitud para autenticar la transacción y comienza a revisar los datos compartidos.</p>
        <div style="position:absolute;bottom:-12%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:#FFF;padding: 20px;position:relative;">
        <p align="center">El emisor autentica la tarjeta que Jorge está usando para su compra con éxito. Dado que el riesgo era bajo la autenticación ocurrió de manera silenciosa sin contactar a Jorge.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">Cuando la transacción implica un riesgo mayor para el emisor, Jorge podría recibir un simple desafío, como una OTP enviada a su teléfono.</p>
        <div style="position:absolute;bottom:-11.2%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">Jorge recibe la confirmación de su compra y finalmente recibe su celular en su hogar</p>
        <div style="position:absolute;bottom:-11.2%;right:5px;left: -7%;">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>