<div class="infographicDiv" align="center">
    <div class="DivGray" >
        <p align="center">João faz a compra de um smartphone a través do seu computador para ser entregue na sua casa.</p>
        <div class="img1">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite" >
        <p align="center">A <b>loja de smartphones, que está integrada com o serviço de autenticação da PayU</b>, quer verificar se é o João que faz a compra, pelo que envia esta transacção para autenticar.</p>
        <div class="img2">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
        </div>
    </div>
    <div class="DivGray longDiv" >
        <p align="center">Através da comunicação dos três domínios, o remetente recebe o pedido para autenticar a transacção e começa a verificar os dados enviados.</p>
        <div class="img3">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite Div4" >
        <p align="center">O emitente autenticou com sucesso o comprador que efectuou a transacção. Uma vez que o risco era baixo, a autenticação ocorreu silenciosamente sem contactar o João.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">Quando a transacção envolve um risco mais elevado para o remetente, João poderia receber um simples desafio, como um OTP enviado para o seu telefone.</p>
        <div class="img4">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
        </div>
    </div>
    <div class="DivGray lastDiv" >
        <p align="center">João recebe a confirmação da sua compra e finalmente recebe o seu smartphone em casa.</p>
        <div class="img5">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>