<div class="infographicDiv" align="center">
    <div class="DivGray">
        <p align="center">John compra un celular en una tienda de comercio electrónico usando su computadora personal.</p>
        <div class="img1">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png" alt="Paso 1"/></p>
        </div>
    </div>
    <div class="DivWhite">
        <p align="center"><b>La tienda de celulares, integrada con el servicio de autenticación de PayU</b>, quiere verificar que John está realizando la compra. Envía la transacción para autenticación.</p>
        <div class="img2">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png" alt="Paso 2"/></p>
        </div>
    </div>
    <div class="DivGray longDiv">
        <p align="center">A través de la comunicación 3DS, el emisor recibe la solicitud de autenticación y comienza a revisar los datos compartidos.</p>
        <div class="img3">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png" alt="Paso 3"/></p>
        </div>
    </div>
    <div class="DivWhite Div4">
        <p align="center">El emisor autentica exitosamente a John. Como el riesgo era bajo, la autenticación fue silenciosa sin contactarlo.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">Para transacciones de mayor riesgo, John puede recibir un desafío simple, como un OTP enviado a su teléfono.</p>
        <div class="img4">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png" alt="Paso 4"/></p>
        </div>
    </div>
    <div class="DivGray lastDiv">
        <p align="center">John recibe la confirmación de su compra y posteriormente, recibe el celular en su casa.</p>
        <div class="img5">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png" alt="Paso 5"/></p>
        </div>
    </div>
</div>
