<div style="display: inline-flex;">
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">John buys a cellphone to be delivered in his house from his computer.</p>
        <div style="position:absolute;bottom:-11.5%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:#FFF;padding: 20px;position:relative;" >
        <p align="center">The <b>cellphone shop, who is integrated to PayU authentication service</b>, wants to verify that John is the one making the purchase, so they send this transaction to authenticate.</p>
        <div style="position:absolute;bottom:-12%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">Through 3DS communication, the issuer receives the request to authenticate the transaction and start reviewing the shared data.</p>
        <div style="position:absolute;bottom:-12%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:#FFF;padding: 20px;position:relative;">
        <p align="center">The issuer successfully authenticates the card used by John to perform the purchase. Given that the risk was low, the authentication was silent without contacting John.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">When the transaction is risker for the issuer, John may receive a simple challenge, such as an OTP sent to his cellphone.</p>
        <div style="position:absolute;bottom:-11.2%;right:0px;">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
        </div>
    </div>
    <div style="width: 20%; height: 600px; float:left; background:linear-gradient(to bottom, #EEE 90%, white);padding: 20px;position:relative;" >
        <p align="center">John receives the confirmation of his purchase and later on, he receives the cellphone in his house.</p>
        <div style="position:absolute;bottom:-11.2%;right:5px;left: -7%;">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>