<div class="infographicDiv" align="center">
    <div class="DivGray">
      <p align="center">João compra um celular em uma loja de comércio eletrônico usando seu computador pessoal.</p>
      <div class="img1">
        <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
      </div>
    </div>
    <div class="DivWhite">
      <p align="center"><b>A loja de celulares, integrada ao serviço de autenticação da PayU</b>, quer verificar se João está fazendo a compra. Eles enviam a transação para autenticação.</p>
      <div class="img2">
        <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
      </div>
    </div>
    <div class="DivGray longDiv">
      <p align="center">Através da comunicação 3DS, o emissor recebe a solicitação de autenticação e começa a revisar os dados compartilhados.</p>
      <div class="img3">
        <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
      </div>
    </div>
    <div class="DivWhite Div4">
      <p align="center">O emissor autentica João com sucesso. Como o risco era baixo, a autenticação foi silenciosa, sem contatá-lo.</p>
      <hr style="border: 1px solid #ACC629;">
      <p align="center">Para transações de alto risco, João pode receber um desafio simples, como um OTP enviado para o seu telefone.</p>
      <div class="img4">
        <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
      </div>
    </div>
    <div class="DivGray lastDiv">
      <p align="center">João recebe a confirmação de sua compra e, posteriormente, recebe o celular em casa.</p>
      <div class="img5">
        <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
      </div>
    </div>
  </div>
  