<div class="infographicDiv" align="center">
    <div class="DivGray" >
        <p align="center">John purchases a cellphone from an e-commerce shop using his personal computer.</p>
        <div class="img1">
            <p align="center"><img src="/assets/3DS/3DS_step_1_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite" >
        <p align="center"><b>The cellphone shop, integrated with PayU's authentication service</b>, wants to verify that John is making the purchase. They send the transaction for authentication.</p>
        <div class="img2">
            <p align="center"><img src="/assets/3DS/3DS_step_2_en.png"/></p>
        </div>
    </div>
    <div class="DivGray longDiv" >
        <p align="center">Through 3DS communication, the issuer receives the authentication request and begins reviewing the shared data.</p>
        <div class="img3">
            <p align="center"><img src="/assets/3DS/3DS_step_3_en.png"/></p>
        </div>
    </div>
    <div class="DivWhite Div4" >
        <p align="center">The issuer successfully authenticates John. As the risk was low, the authentication was silent without contacting him.</p>
        <hr style="border: 1px solid #ACC629;">
        <p align="center">For higher-risk transactions, John may receive a simple challenge, such as an OTP sent to his phone.</p>
        <div class="img4">
            <p align="center"><img src="/assets/3DS/3DS_step_4_en.png"/></p>
        </div>
    </div>
    <div class="DivGray lastDiv" >
        <p align="center">John receives the confirmation of his purchase and later on, he receives the cellphone at home.</p>
        <div class="img5">
            <p align="center"><img src="/assets/3DS/3DS_step_5_en.png"/></p>
        </div>
    </div>
</div>