<div class="container overview-topic" align="center">
  <div class="row">
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Argentina.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-argentina.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-argentina.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Brasil.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-brazil.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-brazil.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Chile.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-chile.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-chile.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Colombia.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-colombia.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-colombia.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Mexico.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-mexico.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-mexico.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Panama.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div><a href='../integrations/api-integration/payments-api-panama.html'>API</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%;cursor:default;box-shadow:initial">
      <img src="" width="40px" style="padding-bottom: 14px;display:none">
      <br>
      <div></div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%">
      <img src="/assets/Peru.png" width="40px" style="padding-bottom: 14px;">
      <br>
      <div>
        <div style="float: left;width: 50%;"><a href='../integrations/api-integration/payments-api-peru.html'>API</a></div>
        <div style="float: left;width: 50%;"><a href='../integrations/sdk-integration/payments-sdk-peru.html'>SDK</a></div>
      </div>
    </div>
    <div class="col-sm-4 getting-started" style="max-width:30%;cursor:default;box-shadow:initial">
      <img src="" width="40px" style="padding-bottom: 14px;display:none">
      <br>
      <div></div>
    </div>
    <!--<div class="col-sm-4 getting-started" style="max-width:30%;cursor:default;box-shadow:initial">
      <h4 class="navblock-title"></h4>
      <p></p>
    </div>-->
  </div>
</div>
