.tablinks {
    display: block !important;
    padding: 0.5rem 0.9rem !important;
}

div#bodybuilderbody {
    margin-top: 15px;
    width: 80%;
}

div.requestypebullets label {
    padding: 0.2em;
}

.providercolumns {
    width: 100%;
    max-width: 800px;
    align-items: center;
    margin-left: 0px;
    columns: 3;
}

div#cardsrequestypebullets label {
    padding: 0.5em;
}

.fieldTables, .headerTables {
    padding: 10px;
    max-width: 80%;
}

.fieldTables td, .fieldTables th, .headerTables td, .headerTables th {
    padding: 10px;
}

.headerTables {
    margin-bottom: 10px;
}

.fields-overview-header {
    margin-top: 20px;
}

pre#ciResponseText, #headerExample {
    background: hsl(0, 0%, 0%);
    color: hsl(73, 73%, 70%);
}

.table-bordered {
    border: 0px !important
}

.disabledInputElement {
    color: hsl(0, 0%, 80%) !important;
}

button#analyze {
    width: 100%;
    cursor: pointer;
}
table {
    width: 100%;
}