#td-cover-block-0{
    color: #A6C307;
    font-weight: 100;
}

#td-cover-block-0  a{
    color: #A6C307;
    font-weight: 600;
}

.display-1.mt-0.mt-md-5.pb-4{
    font-weight: 100;
}
.cover-row-text{
    color: grey;
    margin-top: 1em;
}

.p-4.mx-3.col-sm.border.border-grey.rounded {
    border: 0.5px solid !important;
}


.cover-intro-text {
    color: grey;
    margin: 2em;
}
.cover-other-resources {
    color: grey;
    font-weight: 100;
}

.container h2 {
    color: #A6C307;
}
   
.cover-other-resources a {
    color: #A6C307; 
}
.td-navbar .navbar-brand svg {
    margin: 0 0 5px 0px !important
}

.navbar-logo {
    margin: 0 8px !important
}


@media only screen and (min-device-width : 320px) {
    .p-4.mx-3.col-sm.border.border-grey.rounded {
       margin: 20px !important;
    }
  }
