@font-face {
    font-family: AmpleSoft;
    src: url('AmpleSoftPro-Light.woff'), url('AmpleSoftPro-Light.woff') format('woff');
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: AmpleSoft;
    src: url('AmpleSoftPro-Regular.woff'), url('AmpleSoftPro-Regular.woff') format('woff');
    /* src: url('http://127.0.0.1:1313/AmpleSoftPro-Regular.woff'), url('http://127.0.0.1:1313/AmpleSoftPro-Regular.woff') format('woff'); */
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: AmpleSoft;
    src: url('AmpleSoftPro-Medium.woff'), url('AmpleSoftPro-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: AmpleSoft;
    src: url('AmpleSoftPro-Bold.woff'), url('/AmpleSoftPro-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

* {
    font-family: "AmpleSoft" !important;
}

ol, ul, dl {
    padding-left: 1rem;
}

.alert {
    padding-bottom: 1px;
}

.alert ul li:not(:last-child) {
    padding-bottom: 1rem;
}

.alert ol li:not(:last-child) {
    padding-bottom: 1rem;
}

.navblock-title {
    color: hsl(69, 93%, 40%)
}

.td-content .alert:not(:first-child) {
    color: hsl(0, 0%, 50%);
    font-weight: 400;
}

.getting-started {
    cursor: pointer;
    background: hsl(0, 0%, 100%) !important;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.19);
    text-align: center;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    height: auto;
}

.shopping-carts {
    cursor: pointer;
    background: hsl(0, 0%, 100%) !important;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.19);
    text-align: center;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    height: auto;
    display: flex; 
    align-items: center;
    float: left;
}

img[alt=Tokenization] { 
    max-width: 80% !important; 
}

img[alt=PrintScreen] {
    border-radius: 7px;
    border: 1px solid #D8DEE2;
    max-width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt=ShoppingCartLogos] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.payu-btn-green {
    font-weight: 600;
    border-radius: 36px;
    padding: 15px 40px;
    display: inline-block;
    vertical-align: middle;
    color: #262626;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    border: 2px solid #A6C307;
    background-color: #fff;
}

a:hover.payu-btn-green {
    background-color: #A6C307;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

div.paymentMethods + table,
div.variables + table {
    width: 100% !important;
}

div.paymentMethods + table td,
div.variables + table td {
    vertical-align: middle !important;
}

div.paymentMethods + table td {
    width: 20%;
}

@media only screen and (min-width: 767px) {
    .getting-started {
        cursor: pointer;
        background: hsl(0, 0%, 100%) !important;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.19);
        text-align: center;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 5px;
        max-width: 49%;
        margin-bottom: 10px;
        margin: 1px 10px 10px 10px;
        padding: 15px;
        height: auto;
        float: left;
    }
    
    .shopping-carts {
        cursor: pointer;
        background: hsl(0, 0%, 100%) !important;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.19);
        text-align: center;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 5px;
        max-width: 29%;
        margin-bottom: 10px;
        margin: 1px 10px 10px 10px;
        padding: 15px;
        height: auto;
        display: flex; 
        align-items: center;
    }

    .container.overview-topic {
        max-width: 80%;
        margin: 0;
    }

}   



@media only screen and (max-width: 360px) {
    .container.overview-topic {
        max-width: 100%;
    }
    .shopping-carts,.getting-started {
        max-width: 100%;
    }
}


/* CSS for Copy Code Samples Button */

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free" !important;
}

highlight-wrapper {
    display: block;
}

.highlight {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.highlight>.chroma {
    color: #D0D0D0;
    background-color: #212121;
    position: static;
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
}

.chroma {
    overflow: auto;
}

.chroma .lntable {
    display: table;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border-spacing: 0;
    border: 0;
    overflow: auto;
}

.chroma .lntd:first-child {
    padding: 7px 7px 7px 10px;
    margin: 0;
}

.chroma .lntd:last-child {
    padding: 7px 10px 7px 7px;
    margin: 0;
}

.fa-copy {
    z-index: 2;
    top: 2;
}

.fa-copy:hover {
    cursor: pointer;
}

.copy-btn-container {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 2;
    padding-right: 1%;
    background-color: red;
}

.copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0.01;
}


/* Tooltip text */

.copy-btn-txt {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    display: inline;
    position: absolute;
    top: -40px;
    left: 10;
    right: 0;
    text-align: center;
}

.copy-btn-txt::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.copy-btn-container:hover .copy-btn-txt {
    visibility: visible;
}

.blue-box {
    float: left;
    background-color: #f8f9fa;
    border: 1px solid;
    border-color: #d4d6d6;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border.htc);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.form_control{
    height: 38px !important;
    font-size: 12px !important;
}

#signature_algorithm{
    max-width: 18%;
}

#signature_algorithm_response_page{
    max-width: 18%;
}

#signature_algorithm_confirmation_page{
    max-width: 18%;
}

#signature_apikey{
    width:28%;
}

#signature_apikey_response_page{
    width:28%;
}

#signature_apikey_confirmation_page{
    width:28%;
}

#signature_merchanId{
    width:12%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_merchanId_response_page{
    width:12%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_merchanId_confirmation_page{
    width:12%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_referenceCode{
    width:11%;
}

#signature_referenceCode_response_page{
    width:11%;
}

#signature_referenceCode_confirmation_page{
    width:11%;
}

#signature_amount{
    width:11%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_amount_response_page{
    width:11%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_amount_confirmation_page{
    width:11%;
    color: #000 !important;
    font-weight: 100 !important;
    letter-spacing: 0em !important;
}

#signature_currency{
    max-width: 11%;
}

#signature_currency_response_page{
    max-width: 11%;
}

#signature_currency_confirmation_page{
    max-width: 11%;
}

#signature_generated{
    padding: 9px 12px;
    width: 70%;
    margin-left: 1.5%;
}

#signature_generated_response_page{
    padding: 9px 12px;
    width: 70%;
    margin-left: 1.5%;
}

#signature_generated_confirmation_page{
    padding: 9px 12px;
    width: 70%;
    margin-left: 1.5%;
}

#signature_transaction_state_response_page{
    max-width: 15%;
}


#signature_state_pol_confirmation_page{
    max-width: 15%;
}

.calc_text{
    font-size: 21px;
    vertical-align: sub;
}
        
.calc_selector{
    background-image: url(../assets/calc-selector-arrow.png) !important;
    background-position: center right;
    background-repeat: no-repeat;        
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    text-indent: 4px;
    text-overflow: "";
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding-top: 1px !important;
    box-shadow: none;    
}

#signature_generate{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_response_page{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_confirmation_page{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_again{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_again_response_page{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_again_confirmation_page{
    background: #A6C307;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    text-align: left;
    color: white;
    min-width: 120px;
    padding: 7px 30px;
    border: solid;
}

#signature_generate_again{
    visibility: hidden;
}

#signature_generate_again_response_page{
    visibility: hidden;
}

 #signature_generate_again_confirmation_page{
    visibility: hidden;
}

#signature_generate:hover{
    background: #438f29;
    color: white;
}

#signature_generate_response_page:hover{
    background: #438f29;
    color: white;
}

#signature_generate_confirmation_page:hover{
    background: #438f29;
    color: white;
}

#signature_generate_again:hover{
    background: #438f29;
    color: white;
}

#signature_generate_again_response_page:hover{
    background: #438f29;
    color: white;
}

#signature_generate_again_confirmation_page:hover{
    background: #438f29;
    color: white;
}